:root {
  --color-white: #fff;
  --color-white-hover: #ddd;
  --color-gray-hover: #dee2e6;
  --color-black: #000;
  --color-black-tranparent: #00000086;
  --color-black-hover: #222;
  --color-secondary-light: rgba(255, 0, 0, 0.671);
  --color-green-light: #2bcc86;
  --color-green-hover: #018b4f;
  --color-primary: #fab005;

  --spacing-0: 0;
  --spacing-1: 1rem;
  --spacing-2: 2rem;
  --spacing-3: 3rem;
  --spacing-4: 5rem;
  --spacing-5: 10rem;
  --spacing-6: 20rem;
  --spacing-7: 25rem;

  --breakpoint-sm: 580px;
  --breakpoint-md: 800px;
  --breakpoint-lg: 1200px;
  --breakpoint-xl: 1440px;

  --border-radius: 4px;

  --font-general: "Inter", sans-serif;

  --h1: 4.5rem;
  --h2: 3.5rem;
  --h3: 2.5rem;
  --h4: 2rem;
  --h5: 1.5rem;
  --h6: 1rem;

  --navbar-height: 56px;
  --navbar-h7: 1.8rem;
}
