.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
}
.navbar__link:link,
.navbar__link:visited {
  display: inline-block;
  text-decoration: none;
  color: #333;

  transition: all 0.5s;
}

.navbar__link:hover,
.navbar__link:active {
  color: var(--color-gray-hover);
}

.navbar__logo {
  object-fit: cover;
  border-radius: 10rem;
  width: 8rem;
  height: 7rem;
}

*:focus {
  outline: none;
  /* outline: 4px dotted #e67e22;
  outline-offset: 8px; */
  box-shadow: 0 0 0 0.8rem rgba(230, 125, 34, 0.5);
}

@media (max-width: 125em) {
  .navbar {
    padding-left: 50px;
    padding-right: 50px;
  }
}
@media (max-width: 57em) {
  .navbar {
    padding-left: 25px;
    padding-right: 25px;
  }
  .navbar-links {
    gap: var(--spacing-2);
  }
}

@media (max-width: 41em) {
  .navbar {
    padding-left: 5px;
    padding-right: 5px;
  }
  .navbar-links {
    font-size: var(--h4);
  }
  .navbar-links {
    gap: var(--spacing-1);
  }
}
