.section-hero {
  padding-top: 20rem;
  margin-bottom: 10rem;
  background-image: url(../../img/background-img4.png);
  background-size: cover;
  background-position: center center;
  position: relative;
}

.section-hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #e7e2e2;
  opacity: 0.73;
}
.hero {
  position: relative;
  font-weight: bold;
  opacity: 1;
}

.hero__header {
  transform: rotate(5deg);
}

.hero__img {
  max-width: 80rem;
  max-height: 50rem;
  border-radius: 2rem;
  box-shadow: 0 1.2rem 3.2rem rgba(0, 0, 0, 0.5);
}

.hero__left {
  background-color: rgba(255, 0, 0, 0.671);
  border-radius: 5px;
}

.hero__right {
  background-color: var(--color-primary);
  border-radius: 5px;
}

@media (max-width: 94em) {
  .hero-content {
    flex-direction: column;
    gap: 20px;
  }
}
@media (max-width: 63em) {
  .hero__img {
    width: 100%;
    height: 100%;
  }
  .hero-content p {
    margin: 0;
  }
}
