.menu__container {
  border: 10px solid var(--color-primary);
  color: var(--color-primary);
  padding: 25px;
}

.menu__container-mini {
  border: 3px solid var(--color-primary);
  color: var(--color-primary);
  padding: 5px;
  place-items: center;
}

.menu__container-list li {
  font-weight: bold;
}

.menu__container-list li:not(:last-child) {
  margin-bottom: 20px;
}
