html {
  scroll-behavior: smooth;
  font-size: 62.5%;
  overflow-x: hidden;
}

body {
  margin: 0;
  font-family: "Rubik", sans-serif;
  line-height: 1.2;
  font-weight: 400;
  color: #555;
  background-color: #e4dac1;

  /* Only works if there is nothing absolutely positioned in relation to body */
  overflow-x: hidden;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  border: 0;
  margin: 0;
  padding: 0;
  list-style: none;
}

@media (max-width: 38em) {
  html {
    font-size: 56.25%;
  }
}
